<h3>Chat</h3>
<hr>

<article id="app-mensajes" class="app-mensajes">
	<section [ngClass]="{'text-right' : service.usuario.user.uid == chat.uid}" *ngFor="let chat of service.chats | async">
		<span class="badge badge-pill" [ngClass]="{'badge-info': service.usuario.user.uid == chat.uid,
						  'badge-warning': service.usuario.user.uid != chat.uid}">
			{{ chat.nombre }}
		</span>
		<p>{{ chat.mensaje }}</p>
	</section>
</article> 

<input type="text" [(ngModel)]="mensaje" name="mensaje" (keyup.enter)="enviar()"
placeholder="Introduzca un texto" class="form-control"/>
